
.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
<<<<<<< HEAD
    text-align: center;
  }
  
  .poppins-regular {
    font-weight: 400;
    font-style: normal;
    text-align: justify;
  }

h1{ 
    font-size: 3rem;
    color: #133072;
}

.subtitulo{
    font-size: 1.25rem;
    font-family: "Taviraj";
    color: #133072;
    text-align: center;
=======
  }
  

h1{ 
    font-family: "Lato", sans-serif;
    font-size: 3rem;
    color:#050831;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

p{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color:#000000;
}



h5{ 
    font-family: "Taviraj", serif;
    font-size: 2rem;
    color: #050831;
}

text-body-secondary{
    font-family: "Taviraj", serif;
    font-size: 1rem;
    color:#133072;
>>>>>>> 932017e716d2032f3faad6c83a9e092c4e127929
}

.card-body {
    width: 400px; 
<<<<<<< HEAD
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
=======
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
>>>>>>> 932017e716d2032f3faad6c83a9e092c4e127929
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    justify-items: center;
    align-items: center;
}

.img-fluid-rounded-start {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin: auto;
    max-width: 100%;
    align-items: center;
    justify-items: center;
<<<<<<< HEAD
}



.image-fluid1{
    max-width: 100%;
    height: auto;
}

.col-lg-6{
    text-align: justify;
}
  /*ajuste de cards del equipo */
.card{
max-height: 5200px;
}

.card:hover{ /*efecto sobreado y de escala al pulsar la tarjeta*/
    scale: .95;
    box-shadow: 0 0 20px #133072 ;
    }

.card-title{
text-align: center;
color:#133072;
font-family: "Poppins";
font-size: 1.25rem;
}

.card-body{
 max-width: 100%;
 margin: auto;
}

.card-text{
    text-align: center;
    color:#133072;
}
.card-description{
    text-align: justify;
    color:#133072;
    font-family: "Poppins", serif;
    font-size: 1rem;
    padding: 15px;
}

/* photo id´s - centrar las fotos 
#personal{
    margin-top: 90px;
}
#personalastrid{
    margin-top: 3px;
}


/*contenedor de la descripcion*/
.col-md-8{
    max-width: 100%;
    align-items: center;
}
/*contenedor de la foto**/
.col-md-4{
padding: 20px;
}


/*boton*/
.register{
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: #F90052;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 150px;
}

=======
    margin: auto;
}


.register{
    font-family: "Poppins", sans-serif;
    background-color: #F90052;
    ;
}

.cold-md-4{
  display: flex;
  justify-content: center;
  margin: auto;
  display: flex;
}
>>>>>>> 932017e716d2032f3faad6c83a9e092c4e127929
