/*Slidebar styles*/
.col-md-2, .col-md-12 {
    padding-top: 5%;
    margin-bottom: 5%;
    }
    .button-container {
        flex-direction: column;
        }
    
    .btn-group-vertical {
            flex-direction: column;
    }
    
    .btn-group-vertical button {
        margin-bottom: 100px
    }
    
    .btn-group-vertical h4 {
        margin-bottom: 2rem; 
     }
    
    h1 {
        font-size: 3rem;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #050831;
    }
        
    h2 {
        font-size: 1.5rem;
        font-family: "Taviraj", serif;
        font-weight: 600;
        font-style: normal;  
        color: #D5ADFB;
    } 
    
    .image-fluid {
        height: px;
    }
    
    #button1 {
        background-color:#F90052;
        color: #fff;
        font-size: 1.3rem;
    }
    
    #div1 {
        background-color: #050831;
        border-radius: 7px;
        padding: 1rem;
    }
    
    .mt-4 {
        color:#fff;
        margin: 0rem 0rem;
    }
    
    #b1 {
        background-color: #D5E6F7;
        border-radius: 7px;
        color:#133072; 
    }
    
    #b2 {
        background-color: #D5E6F7;
        border-radius: 7px;
        color:#133072; 
    }
    
    #b3 {
        background-color: #D5E6F7;
        border-radius: 7px;
        color:#133072;
    }
    
    #b4 {
        background-color: #D5E6F7;
        border-radius: 7px;
        color: #133072;
    }
    
    #b5 {
        background-color: #D5E6F7;
        border-radius: 7px;
        color:#133072;
    }
    
    #b6 {
        background-color: #D5E6F7;
        border-radius: 7px;
        color:#133072;
    }
    
    #div2{
        background-color: #050831;
        margin: 1rem 0rem;
        padding: 0rem 1rem;
        border-radius: 7px;
        text-align: center;
        color:#D5E6F7; 
    }
    
    /*Event-cards styles*/
    #event-container {
        display: flex; 
        flex-wrap: wrap;
        gap: 16px;
        justify-content: space-between;
        border-color: rgb(161, 161, 161);
        border-radius: 5%;
        width: 90%;
        max-width: 100%;
    }
    .col-md-4 {
        padding: 10px;
    }
    
    .card {
        min-height: 300px; 
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 16px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }
    
    #day {
        font-family: "Lato", sans-serif;
        font-weight: 900;
        font-style: normal;
        font: color(#F90052);
        background-color: none;
    }
    
    #month {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: bold;
        font: color(#050831);
        background-color: none;
    }
    
    .btn {
        border:none;
    }
    
    .event-title {
        font-family: "Lato", sans-serif;
        font-weight: 700;
        text-align: just;
        font-style: normal;
        height: 50px;
        color: #133072;
        margin-bottom: 50px;
    }
    
    .event-place {

        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: medium;
        color: #133072;
    }
    
    .event-description {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: small;
        color:#133072;
        flex-grow: 1;
        overflow-y:auto;
        text-overflow: ellipsis;
        height: 80px;
    }
    
    

    
    /*footer*/
    
    footer {
        text-align: center;
        color: #133072;
        font-family: poppins, sans-serif;
        margin-top: 25%;
      }