
section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: Arial, sans-serif;
}

/*Estilos de imagen-publicaciones*/
.post-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  opacity: 0.7;
  box-shadow: 5px 20px 15px #050831;
}


/*Estilos de formulario para crear publicaciones*/

.container{
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: Arial, sans-serif;
}


#formControl{
  border: 1px solid #D5ADFB;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px ;
  font-family: Poppins,sans-serif;
  max-width: 700px;
  margin-bottom: 0;
}

#label-textarea{
  font-family: Poppins, sans-serif;
}

/*Barra azul*/
.barra-azul {
  background-color: #133072;
  color: white;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  height: 50px;
  position: relative;
  align-items: center;
}

/*Botón morado en barra azul*/
#button-publicar {
  background-color: #D5ADFB;
  color: black;
  border: none;
  font-weight: 500;
  border-radius: 10px;
  height: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0;
  padding-bottom: 0;
  align-items: center;
  margin: 20px;
}

#button-publicar:hover{
  background-color: #F90052;
  color:#fff;
  }


/*Al modificar los contenedores del formualrio, se añaden margenes a los botones para un mejor diseño*/
#iconAddPicture {
  margin: 20px;
}

/*Íconos en barra azul*/
.fi{
  color:#D5ADFB;
  font-size: 25px;
  margin-right: 8px;
  margin-left: 8px;
}

.fi:hover {
  color: #F90052; /* Color que deseas aplicar al pasar el cursor */
}
/*Terminan estilos de formulario para crear publicaciones*/

/* Estilos cards */
#card-container {
  display: flex;
  flex-direction: column; /* Disposición vertical */
  gap: 20px; /* Espacio entre las tarjetas */
  width: 100%;
  max-width: 700px; /* Ancho máximo de la tarjeta */
  margin: 0px;
}

.card {
  border: 1px solid #050831;
  border-radius: 8px;
  width: 100%; /* Ancho completo del contenedor */
  max-width: 700px; /* Ancho máximo de la tarjeta */
  height: auto; 
  height: 450px; /* Altura automática para mantener la proporción */
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative; /* Para permitir la colocación absoluta de los botones */
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
}

.card-image {
  width: 100%;
  height: auto; /* Altura automática para mantener la proporción de la imagen */
  max-height: 300px; /* Altura máxima de la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionar */
}

.card-content {
  padding: 16px;
  flex-grow: 1; /* Ocupa el espacio restante */
  overflow-y: auto; /* Permite desplazamiento si el contenido excede el espacio */
  position: relative; /* Necesario para la colocación absoluta de los botones */
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, rgba(213,173,251,1) 0%, rgba(213,230,247,1) 100%); /*Se modifica color de fondo*/
  justify-content: space-between; /* Espacia el contenido verticalmente */
}

.card-title {
  font-size: 1rem;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: space-between; /* Alinea el nombre del usuario a la izquierda y los botones a la derecha */
  align-items: center; /* Alinea verticalmente el contenido */
}
/*Estilos de publicaciones*/
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.card-username {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.2em;
  color: #133072; 
}

/*Estilo de fecha y hora*/
.card-date {
  color:#050831;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

.card-buttons {
  display: flex;
  align-items: center;
}

.image-buttons {
  background: none;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}

.card-description {
  color: #133072;
  font-size: 1.2rem;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

/*Se añaden propiedades en elementos de la publicación creada*/
.image-buttons.edit-button.btn.btn-outline-light {
  border: none !important;
  transition: all 0.3s ease;
}
.image-buttons.hover-button.edit-button:hover img {
  transform: scale(1.1); /* Agranda la imagen un poco */
}

.image-buttons.delete-button.btn.btn-outline-light {
  border: none !important;
}
.image-buttons.hover-button.delete-button:hover img {
  transform: scale(1.1); /* Agranda la imagen un poco */
}

.image-buttons.btn.btn-outline-light {
  border: none !important;
}
.image-buttons.hover-button:hover img {
  transform: scale(1.1); /* Agranda la imagen un poco */
}


.image-buttons {
  display: flex;
  align-items: center; /* Alinea el icono y el texto verticalmente */
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  gap: 5px; /* Espacio entre el icono y el número */
}

.image-buttons img {
  width: 20px; /* Tamaño de los botones de imagen en pantallas más pequeñas */
  height: 20px;
  border-radius: 5px; /* Opcional: borde redondeado para los botones */
  transition: transform 0.3s;
  border: none;
}

.reaction-count {
  font-size: 12px; /* Tamaño del texto en pantallas más pequeñas */
  color: #333;
}
.edit-textarea{
  width: 100%; /* Ajusta el ancho al contenedor padre */
  height: 150px; /* Ajusta la altura */
  resize: both; /* Permite redimensionar el textarea tanto en ancho como en alto */
  border-color: #D5ADFB;
  border-radius: 5px;
  font-family: Poppins,sans-serif;
}
.save-button{
  margin-left: 16px;
  padding: 8px 16px;
  background-color: #F90052;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave */
}
.save-button:hover {
  background-color: #133072; /* Color al hacer hover */
}

/*---Footer---*/
footer {
  text-align: center;
  color: #133072;
  font-family: 'Poppins', sans-serif;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .card {
      width: 100%; /* Ancho completo del contenedor en pantallas pequeñas */
      height: auto; /* Altura automática */
  }

  .card-title {
      font-size: 1.2em; /* Tamaño de fuente más pequeño en pantallas pequeñas */
  }

  .card-description {
      font-size: 14px; /* Tamaño de fuente más pequeño en pantallas pequeñas */
  }

  .image-buttons {
      top: 8px; /* Ajusta la posición de los botones en pantallas pequeñas */
      right: 8px;
  }

  .image-button img {
      width: 30px; /* Tamaño más pequeño de los íconos en pantallas más pequeñas */
      height: 30px;
  }

  .reaction-count {
      font-size: 10px; /* Tamaño del texto más pequeño en pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .card-title {
      font-size: 1em; /* Tamaño de fuente aún más pequeño en pantallas muy pequeñas */
  }

  .card-description {
      font-size: 12px; /* Tamaño de fuente aún más pequeño en pantallas muy pequeñas */
  }

  .image-buttons {
      top: 4px; /* Ajusta la posición de los botones en pantallas muy pequeñas */
      right: 4px;
  }

  .image-button img {
      width: 25px; /* Tamaño aún más pequeño de los íconos en pantallas muy pequeñas */
      height: 25px;
  }

  .reaction-count {
      font-size: 8px; /* Tamaño del texto aún más pequeño en pantallas muy pequeñas */
  }
}

